/* google-homepage css */

body {
    background-color: #fff;
    font-family: Roboto, system-ui, sans-serif;
    font: #000;
    display: block;
}

.flexbox-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}


#logo {
    max-width: 100%;
    height: auto; 
    margin: 190px 0 20px 0; 
}


#search {
    border-color: ivory;
    border-style: outset;
    border-radius: 150px;
    box-shadow: 0px 0px 10px grey;
    width: 500px;
    height: 35px;
    
}

.buttons {
    color: #f3f3f3;
    border-radius: 5px;
    width: 150px;
    height: 50px;
    margin: 10px;
}

#button-right {
    
}