/* google-homepage css */

body {
    background-color: #fff;
    font-family: Roboto, system-ui, sans-serif;
    font: #000;
    display: block;
}

.flexbox-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#right-corner{
     font-size: 12px;
     margin-left: auto;
}
#logo {
    max-width: 100%;
    height: auto; 
    margin: 190px 0 20px 0; 
}


#search {
    border-color: rgba(255, 255, 240, 0.904);
    border-style: outset;
    border-radius: 150px;
    box-shadow: 0px 0px 10px grey;
    width: 500px;
    height: 35px;
    margin-top: 12px;
    
}

.buttons {
    background-color: #f3f3f3fa;
    border-radius: 5px;
    width: 150px;
    height: 50px;
    margin: 15px 5px 0px 5px;
}

